*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }
:root {
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --grisOscuro: #666;
    --grisClaro: #ebebeb;
    --verde: #39b54a;
}

.main__ultVisitas h2, .main__ofertas h2{
    font-size: 24px;
    color: var(--grisOscuro);
    width: 100%;
    
}

ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
img{
    width: 100%;
}
main{
    width: 100%;
    margin-bottom: 30px;
}
