:root {
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --grisOscuro: #666;
    --grisClaro: #ebebeb;
    --verde: #39b54a;
}

.main__ultVisitas h2, .main__ofertas h2{
    font-size: 24px;
    color: var(--grisOscuro);
}
.camion{
    display: inline;
    border-radius: 50%;
    padding: 10px;
    border: solid 1px var(--verde);
    color: var(--verde);
    font-size: 20px;
    margin-left: 40px;
}
.precio{
    font-size: 18px;
}
.descuento{
    font-size: 16px;
    color: var(--verde);
}
.descripcion{
    font-size: 16px;
    display: none;
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
img{
    width: 100%;
}
main{
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
}
